work/
transcript
*.wlf
wlf*
*.mti
*.vstf
vsim.wlf
vish_stacktrace.vstf
modelsim.ini
.mti/
db/
incremental_db/
output_files/
qdb/
*.qws
*.rpt
*.summary
*.smsg
*.pin
*.pof
*.sof
*.jdi
*.done
*.qip
*.bak
*.orig
PLLJ_PLLSPE_INFO.txt
c5_pin_model_dump.txt
hc_output/
.vscode/
*.swp
.DS_Store
Thumbs.db
